@import url("https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --global-bg: theme("colors.stone.100");
  --global-color: theme("colors.stone.900");
  --bg-card: theme("colors.white");
}

.dark {
  --global-color: theme("colors.stone.100");
  --global-bg: theme("colors.stone.800");
  --bg-card: theme("colors.stone.950");
}

@layer base {
  body {
    font-family: "PT Sans", sans-serif;
    background-color: var(--global-bg);
    color: var(--global-color);
    @apply transition;
  }
}

svg.lucide {
  stroke-width: 1.5;
}
